<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Task Scheduler</h1>
        <p class="lead">Welcome to the Task Scheduler, this application allows you to execute a number of tasks, which are then stored in the database</p>
        <!--<p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>-->
    </section>
    <div class="col">
        <section class="col" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <div class="row">
                <div class="col-6">
                    <p>To add a task click the button below</p>
                    <p><a class="btn btn-outline-dark" href="~/Task/AddTask">Add Task</a></p>
                    <div>
                        @Html.ActionLink("Go to Pending", "../Task/Pending")
                    </div>
                </div>
                <div class="col-6">
                    <p>To check the status of a task, enter the task name and click the button below:</p>
                    <form action="@Url.Action("CheckStatus", "Task")" method="get">
                        <div class="form-group" style="padding-top: 15px; padding-bottom: 5px">
                            <label for="taskName">Task Name:</label>
                            <input type="text" class="form-control" id="taskName" name="taskName" required>
                        </div>
                        <button type="submit" class="btn btn-outline-dark">Check Status</button>
                    </form>
                </div>

            </div>

        </section>

    </div>
</main>